# (1) Isn't it Odd?

Write a function that takes one integer argument and returns True when the 

number's absolute value is odd, False otherwise.

#### **Definitions**

Absolute value: The non negative version of any integer

#### **Input/Output**
 
**Inputs**

Single integer

**Output**

Boolean value presenting whether absolute value of input is odd

#### **Implicit requirements**

Must accept negative integers

#### **Clarifying Questions**

Is infinity accepted as input: No, as it is not a natural number, and is not  odd or even

Does zero have an absolute value: Yes, the absolute valeu of 0 is 0.

Is zero an integer?: Yes, it is, so it is a valid argument

Is zero even?: Yes

#### **Mental Model**

Take an integer as input. If it is negative change it to positive integer of the same value.

Check if it is evenly divisible by two. If not return True, else return False.

#### **Test Cases**

Input: 3  Output: True

Input: 0  Output: False

Input: 1  Output: True

Input: -1  Output: True

Input: -20  Output: False

#### **Data/Algorithm**

* `input_int` argument
    * If integer is negative convert to absolute value
* Get remainder of dividing input integer by two
* Return `False` if there is remainder otherwise return `True`

In [1]:
def is_odd(input_int):
    input_int = abs(input_int)

    divide_two_remainder = input_int % 2

    if divide_two_remainder:
        return True
    return False

In [2]:
print(is_odd(3))
print(is_odd(0))
print(is_odd(1))
print(is_odd(-1))
print(is_odd(-20))

True
False
True
True
False

# (2) Odd Numbers

Print all odd numbers from 1 to 99, inclusive, with each number on a separate line.

Bonus Question: Can you solve the problem by iterating over just the odd numbers?

#### **Implicit requirements**

Print no even numbers

Bonus: If iterating, don't interate over evens either

#### **Mental Model**
Iterate from one to 99 inclusive with a step of two, thus

skipping over all numbers. For each number iterated call print on it.

#### **Data/Algorithm**
* Create range iterating from 1 to 99 with steps of two
* For each number in the range print it.

In [8]:
for num in range(1, 100, 2):
    print(num)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### **Further Exploration**

Consider adding a way for the user to specify the starting and ending values of the odd numbers printed.

In [4]:
print("What number do we start with?")
start_num = int(input())

while not is_odd(start_num):
    print("Please enter an odd number!")
    start_num = int(input())

print("what should be the last number?")
end_num = int(input())

while not is_odd(end_num):
    print("Please enter an odd number!")
    end_num = int(input())

for num in range(start_num, end_num + 1, 2):
    print(num)

What number do we start with?

 4

Please enter an odd number!

 3

what should be the last number?

 9

3
5
7
9

# (3) Even Numbers

Print all even numbers from 1 to 99, inclusive, with each number on a separate line.

Bonus Question: Can you solve the problem by iterating over just the even numbers?

#### **Mental Model**

Same solution as previosu question but starting range on 2 instead.

In [5]:
for num in range(2, 99, 2):
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

# (4) How big is the room?

Build a program that asks the user to enter the length and width of a room, in meters, then prints the room's area in both square meters and square feet.

Note: 1 square meter == 10.7639 square feet

#### **Definitons**

Square meters: Length * Width

#### **Input/Output**

Get length and width in meters from user

Function input:
* Length in meters
* Width in meters

Function output:
* Print are in square meters
* Print area in square foot
* Return None

#### **Implicit requirements**

* Perform calculations using floats
* There is no such thing as negative distances

#### **Clarifying Questions**

What do we do if input is a negative value?:
* Ask for new value

How many decimals should we round to?:
* Four, going by the conversion in the question

#### **Mental Model**
Function that validates values. Must be positive numbers greater than 0

Get valid input for length and width of room in meters from user.
* Type should be floats

Get square meter area by multiplying length and width.

Get square foot area by multiplying square meter area by 10.7639

Round both to four decimal places and print results

In [13]:
def is_input_valid(input):
    try:
        input = float(input)
    except ValueError:
        return False

    return input > 0

def print_area(length_meters, width_meters):
    area_meters = length_meters * width_meters
    area_feet = area_meters * 10.7639

    print(f'The area is {round(area_meters, 4)} square meters or {round(area_feet, 4)} square feet')



print("What is the length of the room in meters?")
length_m = input()

while not is_input_valid(length_m):
    print("Please enter a valid length")
    length_m = input()
length_m = float(length_m)

print("What is the width of the room in meters?")
width_m = input()

while not is_input_valid(width_m):
    print("Please enter a valid length")
    width_m = input()
width_m = float(width_m)

print_area(length_m, width_m)

What is the length of the room in meters?

 0

Please enter a valid length

 3.25

What is the width of the room in meters?

 -3

Please enter a valid length

 4

The area is 13.0 square meters or 139.9307 square feet

# (5) Tip Calculator

Create a simple tip calculator. The program should prompt for a bill amount and a tip rate. 

The program must compute the tip, then print both the tip and the total amount of the bill. 

You can ignore input validation and assume that the user will enter valid numbers.

#### **Input/Output**

Input:
* Bill amount
* Tip rate, in percent

Output/Print:
* Tip amount
* Total bill

#### **Implicit requirements**
* Inputs will be positive real numbers
* Two decimal places in results

#### **Clarifying Questions**

How should the tip be entered?:
* As a percent number (ie input is '5' for 5%)

How do we calculate the tip amount?
* Divide percent number by 100 (ie 5% becomes 0.05)
* Multiply this by bill amount

How do we get the bill and tip amounts
* From user inputs

#### **Mental Model**

* Get user to input numbers for bill amount and percentage tip

* Convert tip percent to decimal

* Calculate tip amount
    *  Bill multplied by decimal tip

* Calculate total
    * Bill amount + tip amount

* Print tip amount and total bill

#### **Test Cases**

Bill: 100, tip: 5%
* Tip: 5
* Total bill: 105

Bill: 100, tip: 0%
* Tip: 0
* Total bill: 100

Bill: 5, tip 100%
* Tip: 5
* Total bill: 10

Bill: 5, tip 200%
* Tip: 10
* Total bill: 15

Bill: 0, tip: 75%
* Tip: 0
* Bill 

Bill: 100, tip: 7.5
* Tip: 7.5
* Total bill: 107.5

#### **Data**

Use function to calculate and print tip and total bill.

Get user input for for bill amount and tip. Convert string inputs to floats.

In [19]:
def print_tip_and_total(bill, tip_percent):
    tip_as_decimal = tip_percent / 100

    tip_amount =  bill * tip_as_decimal
    total_bill = bill + tip_amount

    print(f"The tip is ${tip_amount:.2f}.")
    print(f"The total is ${total_bill:.2f}")

print("What is the bill?: ")
bill_amount = float(input())

print("What percent tip would you like to give?")
tip_as_percent = float(input())

print_tip_and_total(bill_amount, tip_as_percent)  #Using input
print_tip_and_total(100, 0)
print_tip_and_total(5, 100)
print_tip_and_total(5, 200)
print_tip_and_total(0, 75)
print_tip_and_total(100, 7.5)

What is the bill?:

 100

What percent tip would you like to give?

 5

The tip is $5.00.
The total is $105.00
The tip is $0.00.
The total is $100.00
The tip is $5.00.
The total is $10.00
The tip is $10.00.
The total is $15.00
The tip is $0.00.
The total is $0.00
The tip is $7.50.
The total is $107.50

# (6) Sum or Product of Consecutive Integers

Write a program that asks the user to enter an integer greater than 0, 

then asks whether the user wants to determine the sum or the product of 

all numbers between 1 and the entered integer, inclusive.

#### **Input/Output**

Input(s):
* Integer greater than 0
* Sum or product of numbers from 1 to input integer

Output(s):
* Integer that is either sum on product of requested numbers

#### **Problem Domain**

* Integer meaning
    * Whole number


* Sum
    * Add all consecutive numbers from 1 to the desired end point


* Product
    * Starting with 1, up until the desired end point, multiply each number by the next

#### **Implicit Requirements**

* Final value will always be an integer

#### **Clarifying Questions**

* What do we do with the result?:
    * Print it
***

* What happens if the user inputs 1:

    * The result will be 1
***
* Can the user select both sum and product?
    * No
***

#### **Mental Model**

* Get ending number from user
* Get decision whther to calculate sum or product
* Make an iterator of all relevant numbers
* Calculate sum or product of these numbers

#### **Examples/Test Cases**

Input:
* input_int: 5
* operation_choice: sum

Output:
* 15
***
Input:
* input_int: 5
* operation_choice: product

Output:
* 120
***
Input:
* input_int: 1
* operation_choice: sum

Output:Data Structure
* 1
***
Input:
* input_int: 1
* operation_choice: product

Output:
* 1

#### **Data/Algorithm**

* Function: sum_of_numbers:
    * input: integer
    * Make iterable from 1 to target number
    * return sum of iterable
***
* Function: product_of_numbers:
    * input: integer
    * set total_prod to 1
    * iterate through numbers 1 to target number
    * reassign total_prod  to total_prod multiplied by current number in iteration
    * return total_prod
***

* Get target number from user
    * Convert to integer
* Get user choice of sum or product
* Calculate sum or product using helper function
    * Print return value

In [28]:
def sum_of_numbers(target_num):
    range_to_target = range(1, target_num + 1)
    return sum(range_to_target)

def product_of_numbers(target_num):
    total_prod = 1
    range_to_target = range(1, target_num + 1)

    for num in range_to_target:
        total_prod *= num

    return total_prod

def perform_operation(max_num, operation_choice):
    if operation_choice == "sum":
        print(sum_of_numbers(max_num))
    elif operation_choice == "product":
        print(product_of_numbers(max_num))
    else:
        print("I don't recognize that operation")



max_int = int(input("Please enter a max integer (above zero) for the calculation:\n"))

operation_choice = input("Do you want to find the product or sum?:\n").casefold()

perform_operation(max_int, operation_choice) # 15

perform_operation(5, "product") # 120
perform_operation(1, "sum") # 1
perform_operation(1, "product") # 1

Please enter a max integer for the calculation:
 5
Do you want to find the product or sum?:
 sum

15
120
1
1

# (7) Short Long Short

Write a function that takes two strings as arguments, determines the length of the two strings, 

and then returns the result of concatenating the shorter string, the longer string, and the shorter string once again.

You may assume that the strings are of different lengths.

In [ ]:
# These examples should all print True
print(short_long_short('abc', 'defgh') == "abcdefghabc")
print(short_long_short('abcde', 'fgh') == "fghabcdefgh")
print(short_long_short('', 'xyz') == "xyz")

#### **Input/Output**

Input:
* Two strings

Output:

* String. Concatenation of short string, long string then short string

#### **Problem Domain**

Length of string:
* Amount of charcters in string, including spaces, punctuation etc
    * Measurable by `len` function

#### **Implicit Requirements**
* It shouldn't matter what order strings are passed as argument
* Should accept empty strings
* Strings passed as argument to short_long_short function

#### **Clarifying Questions**
N/A

#### **Mental Model**

* Two strings of different lengths passed to function
* Find which one is shorter, and name them `short` and `long` respectively
* Concatenate strings: short, long short
* Return new concatenated string

#### **Examples/Test Cases**
```python
print(short_long_short('abc', 'defgh') == "abcdefghabc")

print(short_long_short('abcde', 'fgh') == "fghabcdefgh")

print(short_long_short('', 'xyz') == "xyz")
```

#### **Data/Algorithm**

* `str1` and `str2` passed to `short_long_short` function
* If `str1` length is less than `str2`
    * Assign `str1` to shorter, and `str2` to longer
* Otherwise if `str2` is shorter
    * Assign `str2` to shorter and `str1` to longer
* Set return_val to `shorter` + `longer` + `shorter`
* Return `return_val`

In [2]:
def short_long_short(str1, str2):
    if len(str1) < len(str2):
        shorter = str1
        longer = str2
    else:
        shorter = str2
        longer = str1

    return_val = shorter + longer + shorter

    return return_val

print(short_long_short('abc', 'defgh') == "abcdefghabc")

print(short_long_short('abcde', 'fgh') == "fghabcdefgh")

print(short_long_short('', 'xyz') == "xyz")

True
True
True

# (8) Leap Years (Part 1)

Write a function that takes any year greater than 0 as input and returns True if the year is a leap year, 

or False if it is not.

For simplicity, this exercise assumes that the Gregorian calendar has been in continuous use since the year 1. We'll address that assumption in the next exercise that follows this one.


### These examples should all print True
```python
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == False)
print(is_leap_year(1100) == False)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == False)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)
```

#### **Input/Output**

Input:
* Year greater than 0, as integer

Output:
* Boolean value indicating whether input is a leap year

#### **Problem Domain**

How do we determine what a leap year is?

    If the year is divisible by 400, it is a leap year.
    If the year is divisible by 100 but not by 400, it is not a leap year.
    If the year is divisible by 4 but not by 100, it is a leap year.
    All other years are not leap years.

#### **Implicit Requirements**

* Input should be a  positive integer
* Valid integers are from 1

#### **Clarifying Questions**
N/A

#### **Mental Model**
* Divisible by 400. True
* Divisible by 100 but not 400. False
* Divisible by 4 but not 100. True

#### **Examples/Test Cases**
```python
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == False)
print(is_leap_year(1100) == False)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == False)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)
```

#### **Data/Algorithm**

Function: is_divisible
* inputs:
    * input_num, num_to_divide
* if input_num divided by num_to_divide has no remainder
    * return True
    * ptherwise False 

Use if statements to test conditionals

In [33]:
def is_divisble(input_num, divisor):
    return input_num % divisor == 0

def is_leap_year(year):
    if is_divisble(year, 400):
        return True
    elif is_divisble(year, 100):
        return False
    elif is_divisble(year, 4):
        return True

    return False

print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == False)
print(is_leap_year(1100) == False)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == False)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

# (9) Leap Years (Part 2)

In the previous exercise, we assumed that the Gregorian calendar has been in continuous use since the year 1. 

However, the Gregorian calendar wasn't adopted until much later; prior to that, 

much of the world used the Julian calendar, which observed leap year every 4 years.

in 1752, England, Ireland, and the British colonies all switched to the Gregorian calendar. 

Update the function from the previous exercise so it uses the Julian calendar prior to 1752, 

and the Gregorian calendar starting in 1752.

#### **Input/Output**

Input:
* Year greater than 0, as integer

Output:
* Boolean value indicating whether input year was a leap year that year

#### **Problem Domain**

How do we determine what a leap year is?
* If year is before 1752, leap year if divisible by 4
* If year is after 1752, use same rules pas previous excercise

#### **Examples/Test Cases**

```python
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == True)
print(is_leap_year(1100) == True)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == True)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)
```

#### **Data/Algorithm**
* If year is before 1753
    * Return true if divisbnle by 4
    * Otherwise False
* If year is later than 1752 use previous algorithm

In [8]:
def is_divisble(input_num, divisor):
    return input_num % divisor == 0

def is_leap_year(year):
    if year < 1752:
        return is_divisble(year, 4)
    
    if is_divisble(year, 400):
        return True
    elif is_divisble(year, 100):
        return False
    elif is_divisble(year, 4):
        return True

    return False

In [9]:
print(is_leap_year(1) == False)
print(is_leap_year(2) == False)
print(is_leap_year(3) == False)
print(is_leap_year(4) == True)
print(is_leap_year(1000) == True)
print(is_leap_year(1100) == True)
print(is_leap_year(1200) == True)
print(is_leap_year(1300) == True)
print(is_leap_year(1751) == False)
print(is_leap_year(1752) == True)
print(is_leap_year(1753) == False)
print(is_leap_year(1800) == False)
print(is_leap_year(1900) == False)
print(is_leap_year(2000) == True)
print(is_leap_year(2023) == False)
print(is_leap_year(2024) == True)
print(is_leap_year(2025) == False)

True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True
True

# (10) Multiples of 3 or 5

Write a function that computes the sum of all numbers between 1 and some other number, 

inclusive, that are multiples of 3 or 5. For instance, if the supplied number is 20, 

the result should be 98 (3 + 5 + 6 + 9 + 10 + 12 + 15 + 18 + 20).

You may assume that the number passed in is an integer greater than 1.

#### **Input/Output**

Input(s):
* Integer greater than 1

Output(s):
* Sum of all numbers from 1 to input_num inclusive that are divisble by 3 or 5

#### **Problem Domain**

How do we calculate sum of all numbers?
* 3 + 5 + 6 + 9 + 10 ....

#### **Implicit Requirements**
* If input is less than 3 return 0

#### **Examples/Test Cases**
```python
# These examples should all print True
print(multisum(3) == 3)
print(multisum(5) == 8)
print(multisum(10) == 33)
print(multisum(1000) == 234168)
```

#### **Clarifying Questions**

N/A

#### **Mental Model**
* Get input of an integer greater than one
* Return the sum of every ineteger from 1 to input that is divisble by either 3 or 5

#### **Data/Algorithm**

* Helper function: is_divisble_3_or_5(input_num)
    * Return `True` if input_num is divisble by 3 or 5

* Set cum_sum to zero
* Iterate through numbers 1 to target value inclusive
* If iterated number is divisible by 3 or 5 add it to cum_sum (use helper function)
* After iteration is finished return cum_sum

In [16]:
def is_divisible_3_or_5(input_num):
    return (input_num % 3 == 0) or (input_num % 5 == 0)

def multisum(target_num):
    cum_sum = 0
    for num in range(1, target_num + 1):
        if is_divisible_3_or_5(num):
            cum_sum += num

    return cum_sum

In [17]:
print(multisum(3) == 3)
print(multisum(5) == 8)
print(multisum(10) == 33)
print(multisum(1000) == 234168)

True
True
True
True

# (11) UTF-16 String Value

Write a function that determines and returns the UTF-16 string value of a string passed in as an argument. 

The UTF-16 string value is the sum of the UTF-16 values of every character in the string. 

(You may use ord to determine the UTF-16 value of a character.)

#### **Input/Output**

Input(s):
* Single string

Output(s):
* Integer, representing UTF-16 string value

#### **Problem Domain**

What is UTF-16?
* "UTF-16 (16-bit Unicode Transformation Format) is a character encoding that supports all 1,112,064 valid code points of Unicode."

#### **Implicit Requirements**

* Empty string returns 0
* Works with non-ASCII characters
* Can pass variables to the function if they reference a string
* Capitals produce a different value

#### **Clarifying Questions**

What is Unicode and UTF-16:
* "The Unicode standard describes how characters are represented by code points. A code point value is an integer in the range 0 to 0x10FFFF"
* "A character is represented on a screen or on paper by a set of graphical elements that’s called a glyph."
* We are looking for the sum of code point values of the symbols in the provided string

What happens when we pass an empty string to `ord`?
* The code raises a `TypeError`.
    * Thus we must account for empty strings in the function
    * Make empty string return 0


How are spaces represented?
* They have a UTF-16 value of 16

#### **Mental Model**

Each text symbol/character has a unique number related to it that can be accessed using the

`ord` function.

We are looking for the sum of these values for every character in the given string

#### **Examples/Test Cases**

```python
# These examples should all print True
print(utf16_value('Four score') == 984)
print(utf16_value('Launch School') == 1251)
print(utf16_value('a') == 97)
print(utf16_value('') == 0)
print(utf16_value(' ') == 32)
# The next three lines demonstrate that the code
# works with non-ASCII characters from the UTF-16
# character set.
OMEGA = "\u03A9"              # UTF-16 character 'Ω' (omega)
print(utf16_value(OMEGA) == 937)
print(utf16_value(OMEGA + OMEGA + OMEGA) == 2811)

```

#### **Data/Algorithm**

* Function `utf16_value`: input: `input_str`
    *  Set cum_utf to 0
    *  Iterate over characters in `input_str`
        * Add the utf-16 value to `cum_utf`
    * Return `cum_utf`

In [30]:
def utf16_value(input_str):
    cum_utf = 0

    for char in input_str:
        char_utf = ord(char)
        cum_utf += char_utf

    return cum_utf

In [32]:
# These examples should all print True
print(utf16_value('Four score') == 984)
print(utf16_value('Launch School') == 1251)
print(utf16_value('a') == 97)
print(utf16_value('') == 0)
print(utf16_value(' ') == 32)
# The next three lines demonstrate that the code
# works with non-ASCII characters from the UTF-16
# character set.
OMEGA = "\u03A9"              # UTF-16 character 'Ω' (omega)
print(utf16_value(OMEGA) == 937)
print(utf16_value(OMEGA + OMEGA + OMEGA) == 2811)

True
True
True
True
True
True
True