(1)
Write two distinct ways of reversing the list without mutating the original list.

In [3]:
numbers = [1, 2, 3, 4, 5]  
new_nums = list(reversed(numbers))
new_nums2 = numbers[-1::-1]

print(numbers, new_nums, new_nums2)

[1, 2, 3, 4, 5] [5, 4, 3, 2, 1] [5, 4, 3, 2, 1]

(2) Given a number and a list, determine whether the number is included in the list.

In [6]:
numbers = [1, 2, 3, 4, 5, 15, 16, 17, 95, 96, 99]

number1 = 8  # False (not in numbers)
number2 = 95 # True (in numbers)

print(number1 in numbers)
print(number2 in  numbers)

False
True

(3) Programmatically determine whether 42 lies between 10 and 100, inclusive. Do the same for the values 100 and 101.

In [3]:
def between_10_100(num):
    return num >= 10 and num <= 100

print(between_10_100(42))
print(between_10_100(100))
print(between_10_100(101))

True
True
False

(4) Given a list of numbers [1, 2, 3, 4, 5], mutate the list by removing the number at index 2, so that the list becomes [1, 2, 4, 5].

In [16]:
list = [1, 2, 3, 4, 5]
del list[2]
print(list)

list = [1, 2, 3, 4, 5]
list.pop(2)
print(list)

del list

[1, 2, 4, 5]
[1, 2, 4, 5]

(5) How would you verify whether the data structures assigned to the variables numbers and table are of type list?

In [18]:
numbers = [1, 2, 3, 4]
table = {'field1': 1, 'field2': 2, 'field3': 3, 'field4': 4}

print(isinstance(numbers, list))
print(isinstance(table, list))

True
False

(6)  If we have a 40-character wide table of Flintstone family members, how can we center the following title above the table with spaces?

In [20]:
title = "Flintstone Family Members"

centered = title.center(40)
print(centered)

       Flintstone Family Members

(7) Write a one-liner to count the number of lower-case t characters in each of the following strings:

In [21]:
statement1 = "The Flintstones Rock!"
statement2 = "Easy come, easy go."

length1 = len([char for char in statement1 if char == "t"])
length2 = len([char for char in statement2 if char == "t"])

print(length1)
print(length2)

2
0

(8) Determine whether the following dictionary of people and their age contains an entry for 'Spot':

In [22]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 402, 'Eddie': 10}

contains_spot = 'Spot' in ages
print(contains_spot)

False

(9) We have most of the Munster family in our ages dictionary:
Add entries for Marilyn and Spot to the dictionary:

In [2]:
ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}

for name, age in additional_ages.items():
    ages[name] = age

print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}

In [3]:
# Alternative method

ages = {'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10}

additional_ages = {'Marilyn': 22, 'Spot': 237}

ages.update(additional_ages)

print(ages)

{'Herman': 32, 'Lily': 30, 'Grandpa': 5843, 'Eddie': 10, 'Marilyn': 22, 'Spot': 237}